.main {
	-fx-background-image: url("../img/main/background_main.jpg");
}

.login {
	-fx-background-image: url("../img/login/background_login.jpg");
}

.join {
	-fx-background-image: url("../img/join/background_join.jpg");
}

.time>ToggleButton {
       -fx-background-color: -fx-original-background;
       -fx-border-color: #ffa5a5;
       -fx-text-fill: #000000;
}

.time>ToggleButton:selected {
       -fx-background-color: #ff4b4b;
       -fx-text-fill: #ffffff;
}

.date>ToggleButton {
       -fx-background-color: -fx-original-background;
       -fx-text-fill: #000000;
}

.date>ToggleButton:selected {
       -fx-background-color: #ff4b4b;
       -fx-text-fill: #ffffff;
}